<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    {{body}}
    <div>
        <form action="/pictures/upload" method="POST" enctype="multipart/form-data">
            <label for="image">select an image</label>
            <input type="file" name="image">
            <input type="submit" value="upload">
        </form>
    </div>
    <footer>
        <p><a href="/">首页</a><a href="/about">自我介绍</a></p>
    </footer>
</body>

</html>